* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  place-content: center;
  height: 100vh;
  width: 100vw;
  font-family: "Poppins", sans-serif;
  background-color: lightgrey;
}
.grid {
  position: relative;
  display: grid;
  grid-template-columns: 32% 32% 32%;
  gap: 2%;
  height: 30vh;
  width: 30vw;
  /* background-color: red; */
  overflow: hidden;
}
.yay {
  opacity: 0;
  position: absolute;
  width: 70px;
  height: 50px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 100px);
  z-index: 1;
}
.done .yay {
  opacity: 1;
  transform: translate(-50%, -50px);
  transition: all 1s;
}
a {
  opacity: 0;
  position: absolute;
  width: auto;
  height: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 100px);
  z-index: 77;   
  background-color: white;
  color: black;
  border-radius: 20px;
  display: grid;
  place-content: center;
  padding: 10px;
  box-shadow: 0px 3px 5px 2px black;
  font-weight: bold;
}
.done a {
  opacity: 1;
  transition: 1s all 1s;
  transform: translate(-50%, 25%);
}

.cover {
  position: absolute;
}
.done .cover {
  width: 100%;
  height: 100%;
  opacity: 0.5;
  background-color: black;
  transition: all 0.5s;
}

div[class^="img"] {
  cursor: pointer;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: green;
}
.scoring {
  transform: translateY(-100%);
}
img {
  position: absolute;
  width: 100%;
  height: 100%;
  /* z-index: 2; */
}

.after {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  /* z-index: 2; */
}
#score {
  color: green;
}
#failed {
  color: red;
}

@media (max-width: 960px) {
  .grid {

    height: 200px;
    width: 300px;

  }
}
